#startScreen{
	height:100%;
	width:100%;
	background-image:url('startscreen.png');
	background-size:cover;
	position: absolute;
	z-index:1;
}

#startButtonDiv{
	

	margin-top:70%;
	margin-left:auto;
	margin-right:auto;
	
	height:161px;
	width:263px;
	
	
	}

#startButton{

	width:100%;
	height:100%;

	border:none;
	background-color: transparent;
	background-image:url('startButton.png');
	background-size:cover;
	background-repeat:no-repeat

	

	
	
	
}

#mapContainer{
	height:90%;
	position: relative;
	
}
#buttons{
	background-image:url('smile.jpg');
	background-repeat:repeat-x;
	height:10%;
	background-color:white;
}
.button{
	background-color: white;
	min-height: 20px;
	min-width: 60px;
	text-align: center;
	font-size: 17px;
	margin: 5px;
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	cursor: pointer;
}
#PositionBox{
	margin-top: 17px;
	clear: both;
	min-height: 50px;
	min-width: 100px;

}
.position{
	height: 17px;
	width:40px;
	background-color: gray;
	cursor: pointer;
}
#Up{
	background-image:url('up.png');
	margin-left: auto;
	margin-right: auto;

}
#Left{
	background-image:url('left.png');
	float: left;

}
#Right{
	background-image:url('right.png');
	float: right;

}
#Down{
	background-image:url('down.png');
	clear: both;
	margin-left: auto;
	margin-right: auto;

}

.teleportButton{
	height:100%
}
